@{
    ViewBag.Title = "Home Page";
}

<style>
    .jumbotron{
        background-color:#a5a5a5
    }
    body{
        background-color:#ebf5fb
    }
</style>

<div class="jumbotron">
    <h1 style="text-align:center ">Hollywoodland</h1>
    <p class="lead">By Oikonomou Nikos</p>
    <p><a href="https://github.com/sokogou" target="_blank"  class="btn btn-primary btn-lg">Github &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Entities Project</h2>
        <p>
            Here you can find all the Models
            Including a custom validation folder
        </p>

    </div>

    <div class="col-md-4">
        <h2>MyDatabase Project</h2>
        <p>
            Here exist the class(ApplicationDbContext) which inherits the mighty Dbcontext!
            Applying the DropCreateDatabaseAlways method for seeding the SQL server in MockupDbInitializer class.
        </p>

    </div>
    <div class="col-md-4">
        <h2>RepositoryServices Project</h2>
        <p>
            Applying Unit of Work concept pairing with a generic repository.
            Also having more repositories for specific Models to draw the desired informations.

        </p>

    </div>
    <div class="col-md-4">
        <h2>WebAppHollywood Project</h2>
        <p>
            The main application.In Areas/Customer folder with the specific ViewModel clases,
            and the controller's Action methods produces the choosen Views for the Movie and
            Actors Entities
        </p>

    </div>
    <div class="col-md-4">
        <h2>Experiments Project</h2>
        <p>
            In this project variously tests can be made to make sure the programm is working
            as intented.
        </p>

    </div>

</div>